

span {
    font-weight: bolder;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: center;
    padding-top: 25%;
}

#div1 {
    background: blue;
    color: bisque;
    text-align: center;
    width: 50%;
    height: 80px;
}